.audio-container {
  display: flex;
  justify-content: center;
  align-items: center 
}
.mainbg {
  background: url('../assets/img/bg_eddie_main1.jpg');
  background-size: cover;
}
.headerbg {
  background: url('../assets/img/bg_eddie_header1.jpg');
  background-size: cover;
}
.title {
  font-size: 5.5rem;
  color: #6c757d;
}
