.song-title {
  color:rgb(255, 255, 255);
  font-family: Tahoma, Verdana, sans-serif;
  font-weight: bold;
  text-shadow: 0 0 1px gray, 0 0 1px gray, 0 0 1px gray, 0 0 1px gray;
}
.audio-container {
  display: flex;
  justify-content: center;
  align-items: center 
}
.mainbg {
  background: url('../assets/img/bg_eddie_main1.jpg');
  background-size: cover;
 
  
}
.headerbg {
  background: url('../assets/img/bg_eddie_header1.jpg');
  background-size: cover;
}
.title {
  font-size: 5.5rem;
  color: #6c757d;
}
